{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/b28d0f6314.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="..." crossorigin="anonymous"></script>
        <script src="https://js.stripe.com/basil/stripe.js"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>{% block title %}Boutique Ado{% endblock %}</title>

  </head>
  <body class="d-flex flex-column min-vh-100 {% block body_class %}{% endblock %}">

    <header class="container-fluid fixed-top bg-white">
        <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
            {# Logo #}
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-start">
                <a href="{% url 'home:home' %}" class="nav-link main-logo-link">
                    <h2 class="logo-font text-black my-0"><strong>Boutique</strong> Ado</h2>
                </a>
            </div>

            {# Search #}
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="{% url 'products:products' %}">
                    <div class="input-group w-100">
                        <input type="text" class="form-control border border-black rounded-0" name="q"
                               placeholder="Search our site">
                        <button type="submit" class="btn btn-black border border-black rounded-0">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>

            {# Account + Basket #}
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-end my-0">
                    
                    {# Account dropdown #}
                    <li class="list-inline-item dropdown">
                        <a href="#" class="text-black nav-link dropdown-toggle" id="user-options"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <ul class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <li><a href="" class="dropdown-item">Product Management</a></li>
                                {% endif %}
                                <li><a href="{% url 'profiles:profile' %}" class="dropdown-item">My Profile</a></li>
                                <li>
                                    <form method="post" action="{% url 'account_logout' %}">
                                        {% csrf_token %}
                                        <button type="submit" class="dropdown-item">Logout</button>
                                    </form>
                                </li>
                            {% else %}
                                <li><a href="{% url 'account_signup' %}" class="dropdown-item">Register</a></li>
                                <li><a href="{% url 'account_login' %}" class="dropdown-item">Login</a></li>
                            {% endif %}
                        </ul>
                    </li>

                    {# Basket #}
                    <li class="list-inline-item">
                        <a href="{% url 'bag:view_bag' %}" class="nav-link {% if grand_total %}text-info fw-bold{% else %}text-black{% endif %}">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                        £{{ grand_total|floatformat:2 }}
                                    {% else %}
                                        £0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>   

                </ul>
            </div>
        </div>
        <div class="row bg-white">
            <nav class="navbar navbar-expand-lg bg-body-tertiary w-100">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
        <div id="delivery-banner" class="row text-center">
            <div class="col bg-black text-white">
                <h4 class="logo-font my-1">Free delivery on orders over £{{ free_delivery_threshold }}!</h4>
            </div>
        </div>
    </header>

    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% if 'success' in message.tags %}
                    {% include 'includes/toasts/toast_success.html' %}
                {% elif 'error' in message.tags %}
                    {% include 'includes/toasts/toast_error.html' %}
                {% elif 'info' in message.tags %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% elif 'warning' in message.tags %}
                    {% include 'includes/toasts/toast_warning.html' %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    <main class="pt-5 container my-4">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="bg-light py-3 mt-auto">
        <div class="container text-center">
            {% block footer %}
                © 2025 My Site
            {% endblock %}
        </div>
    </footer>

    {# jQuery #}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    {% block postloadjs %}
        <script type="text/javascript">
            $(document).ready(function () {
                $('.toast').each(function () {
                    var toast = new bootstrap.Toast(this);
                    toast.show();
                });
            });
        </script>
    {% endblock %}

  </body>
</html>
